/* Actus
================================================ */

.actus {
  justify-content: center;

  .alm-reveal, .alm-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .actu_item {
    margin: 5px;
    width: 35rem;
    border-radius: 20px;
    transition: $transition;

    &:hover {
      box-shadow:0px 0px 20px $turquoise;
    }

    .article-item {
      text-decoration: none;
    }

    .uk-card-media-top {
      position: relative;
      img {
        width: 100%;
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
      }
    }

    .uk-card-body {
      background-color: $dark_turquoise;
      padding: 0;
      border-bottom-left-radius: 20px 20px;
      border-bottom-right-radius: 20px 20px;
      height: 17rem;
      position: relative;

      h2 {
        @extend %title;
        font-size: 1.5rem;
        color: white;
        max-width: 340px;
        padding: 5px 10px 0;
      }

      p, span {
        @extend %texte;
        color: white;
        font-size: 1.3rem;
        max-width: 340px;
        padding: 0 10px;
      }

      .link {
        text-align: right;
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
    .tag {
      position: absolute;
      padding-bottom: 1rem;
      left: 0;
      top: 2rem;

      p {
        @extend %texte;
        color: white;
        font-weight: 500;
        margin: 0;
        background: $turquoise;
        padding: .1rem 2rem .2rem 2rem;
        border-top-right-radius: 2rem 2rem;
        border-bottom-right-radius: 20px 20px;
        text-align: center;
      }
    }
  }

  .alm-btn-wrap {
    display: none;
  }
}
