/* Decor
================================================ */
.underline {
    position: relative;

    &::after {
        @extend %underline;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.souligne_turquoise {
    @extend %souligne;
    &:after {
        background: $turquoise;
    }
}
