/* Liste Partenaires
================================================ */

.partenaires_slider {
  padding-top: 5rem;

  h3 {
    margin-top: 10px;
    @extend %texte;
    font-family: 'Montserrat', sans-serif;
    color: $turquoise;
    font-size: 3rem;
  }

  p {
    @extend %texte;
    padding-top: 2rem;

    strong {
      color: $turquoise;
    }
  }

  .button {
    padding: 2rem 0;
    .uk-button {
      @extend %button;
    }
  }

  .uk-dotnav {
        * {
          * {
            border: 1px solid $turquoise;
            width: 15px;
            height: 15px;

            &:focus,&:hover {
              background-color: $turquoise;
            }
          }
        }
        .uk-active {
          * {
            background-color: $turquoise;
          }
        }
      }
}
