/* Titles
================================================ */

.title {
  h1,h2 {
    @extend %title;

    span {
      position: relative;

      &::after {
        display: block;
        content: '';
        background-color: $turquoise;
        height: 1rem;
        width: 9rem;
        position: absolute;
        right: 0;
        bottom: -1rem;
        z-index: 1;
      }
    }
  }

  p {
    @extend %texte;
    font-size: 2rem;
  }
}
