/* Actus
================================================ */

#wrapper.actu {
  #top {
    padding: 5rem 0;
  }

  #actus {
    padding: 5rem 0;

    .actus {
      .uk-card-body{
        border: 4px solid $turquoise;
        border-top: 0;
      }

      .uk-card-media-top {
        img {
          border: 4px solid $turquoise;
        }
      }

      .actu_item {
        text-align: center;
        h2 {
          color: white;
        }
      }
    }
  }
}
