/* Global
================================================ */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  line-height: 1.5;
  color: black;
}

a:focus {
  outline:0 !important;
}

#wrapper {
  position: relative;
  height: 100%;
}

.sst-status-wrapper {
  border: 2px solid #6441A4;
}

.sst-twitch-logo-wrapper {
  border: 2px solid #6441A4;
}

.sst-status-text-live, .sst-status-text-offline {
  @extend %texte;
  font-size: 1.5rem;
}
