/* Home
================================================ */

#wrapper.home {
  #top {
    padding: 5rem 0;

    .title {
      padding-bottom: 3rem;
    }

    .twitch_player {
      padding-bottom: 3rem;
    }

    .info {
      p {
        @extend %texte;
        font-size: 2rem;
      }
      .button {
        .uk-button {
          @extend %button;
        }
      }
    }
  }

  #modo {
    padding: 5rem 0;
  }

  #partenaires {
    padding: 5rem 0;
  }
}
