/* Home
================================================ */

#wrapper.home {
  #top {
    padding: 5rem 0;

    .title {
      padding-bottom: 3rem;
    }

    .stream {
      padding-bottom: 3rem;
      height: 54vh;

      .live {
        width: calc(100% - 30rem);
      }

      .chat {
        width: 30rem;
        padding-left: 1px;
      }
    }

    .info {
      p {
        @extend %texte;
        font-size: 2rem;
      }
      .button {
        .uk-button {
          @extend %button;
        }
      }
    }
  }

  #modo {
    padding: 5rem 0;
  }

  #partenaires {
    padding: 5rem 0;
  }
}
