/*  Variables
================================================ */

$transition: all 0.2s ease-in-out;

// Mixin
@mixin placeholder {
  ::placeholder { @content; }
  :-ms-input-placeholder { @content; }
  ::-ms-input-placeholder { @content; }
}

@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}

%texte {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: white;
}

%title {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

%button {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    background-color: $dark;
    background: linear-gradient(to right, $turquoise 50%, $dark 50%);
    background-position: right bottom;
    background-size: 220% 100%;
    background-repeat: no-repeat;
    border: 2px solid $turquoise;
    display: inline-block;
    transition: $transition;
    padding: 0.5rem 1rem 0.5rem 2rem;
    overflow: hidden;
    box-shadow:0px 0px 7px $turquoise;

    i {
        position: relative;
        left: -10px;
        font-size: 2rem;
        opacity: 0;
        transition: $transition;
        vertical-align: middle;
    }

    &:hover, &:focus {
        background-position: left bottom;
        border: 2px solid $turquoise;
        color: white;

        i {
            opacity: 1;
            left: 0;
        }
    }
}

%underline {
    content: '';
    transform-origin: 0 0;
    transform: scaleX(0);
    position: absolute;
    bottom: 35%;
    left: 0;
    right: 0;
    height: .4rem;
    background: $turquoise;
    z-index: -1;
    transition: transform .3s;
}

@keyframes souligne {
    0%{
        transform: scaleX(0);
    }
    46%{
        transform: scaleX(0);
    }
    54%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(1);
    }
}

%souligne {
    position: relative;
    padding: 2px;
    display: inline-block;
    line-height: 1.1;
    z-index: 2;

    &:after {
        display: block;
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% + 4px);
        left: -2px;
        top: 0;
        z-index: -1;
        animation: souligne 5s ease 0s infinite alternate-reverse none;
        transform-origin: 0 0;
    }
}

@for $i from 1 through 25 {
    [data-count-souligne="#{$i}"] {
        &:after {
            animation-delay: $i * .2s;
        }
    }
}
