/*  Variables
================================================ */

$transition: all 0.2s ease-in-out;

// Mixin
@mixin placeholder {
  ::placeholder { @content; }
  :-ms-input-placeholder { @content; }
  ::-ms-input-placeholder { @content; }
}

@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}

%texte {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: white;
}

%title {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: white;
}
