/* Home
================================================ */

#wrapper.video {
  #top {
    padding: 5rem 0;

    .youtube_video {
      padding-top: 5rem;
    }
  }

  #playlist {
    padding: 5rem 0;

    .list_playlist {
      padding-top: 5rem;

      .button {
        padding-top: 5rem;
        .uk-button {
          @extend %button;
        }
      }
    }
  }

  #partenaires {
    padding: 5rem 0;
  }
}
